  version: '3.7'

  volumes:
    pgdata:
      driver: local

  services:
    postgres:
      image: postgres
      container_name: teacher_workout_db
      environment:
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_DB: ${POSTGRES_DB}
      ports:
        - 5432:5432
      volumes:
        - pgdata:/var/lib/postgresql/data

    api:
      container_name: teacher_workout_api
      depends_on:
        - "postgres"
      build:
        context: .
        dockerfile: Dockerfile
      environment:
        ASPNETCORE_URLS: ${ASPNETCORE_URLS}
        ConnectionStrings__DbConnectionString: ${DB_CONNECTION_STRING}
        ConnectionStrings__IdentityDbConnectionString: ${DB_CONNECTION_STRING}
      ports:
        - ${EXPOSED_APP_PORT}:80
      restart: unless-stopped
